/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #1c0724;
    --main-color-alt: #ac0a2f;
    --main-transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    border: 2px solid #000;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    margin: auto;
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;

}
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    right: -25px;
    background-color: var(--main-color-alt);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    left: -25px;
    background-color: var(--main-color-alt);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
/* End Global Rules */

.header-and-landing-bgimg {
    height: 100vh; 
    background-image: url(../imgs/bcHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Start Header */

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 15px 0;
    min-height: 100px;
}

@media (max-width: 767px) {
    .header .container {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .header .container::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: var(--main-color-alt);
        bottom: 0;
        width: calc(100% - 30px);
        left: 15px;
    }
}

.header .div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .img-logo {
    width: 60px;
}

@media (max-width: 767px) {
    .header .img-logo {
        width: 70px;
    }
}

.header .a-logo {
    font-size: 30px;
    color: var(--main-color-alt);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

@media (max-width: 767px) {
    .header .a-logo {
        font-size: 40px;
    }
}

.header .toggle-menu {
    display: none;
}

@media (max-width: 767px) {
    .header .toggle-menu {
        display: block;
        position: absolute;
        font-size: 30px;
        right: 50px;
        color: var(--main-color-alt);
    }

    .header .toggle-menu:hover + ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        border-bottom: 1px solid #1c072469;
        background-color: rgb(0 0 0 / 20%);
    }

    .header .toggle-menu:hover + ul li {
        width: 100%;
    }
}

.header .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {
    .header .main-nav {
        display: none;
    }
}

.header .main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    color: var(--main-color-alt);
    font-size: 18px;
    font-weight: bold;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .main-nav a {
        padding: 10px;
        font-size: 17px;
        color: #fff;
        font-weight: normal;
        padding: 15px;
    }
}

.header .main-nav a:hover{
    color: #fff; 
    background-color: var(--main-color);
}
@media (max-width: 767px) {
    .header .main-nav a:hover {
        color: var(--main-color-alt);
        border-bottom: 1px solid var(--main-color-alt);
        background-color: transparent;
        font-weight: bold;
    }
}
/*
.header .main-nav a::after {
    content: "";
    bottom: 10px;
    position: absolute;
    width: 100%;
    left: -100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.header .main-nav a:hover::after {
    left: 0px;
}
*/


/* End Header */






/* Start Landing */

.Landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: calc(100vh - 100px);
}

@media (max-width: 991px) {
    .Landing .container {
        min-height: calc(100vh - 100px);
    }
}

.Landing .text {
    flex: 1;
    MARGIN-RIGHT: 90PX;
}

@media (max-width: 991px) {
    .Landing .text {
        text-align: center;
        margin: 0 20px;
    }
}

.Landing .text h2 {
    font-size: 40px;
    text-decoration-color: var(--main-color);
    color: var(--main-color-alt);
    margin: 20px 0;
}

@media (max-width: 991px) {
    .Landing .text h2 {
        font-size: 28px;
        margin-top: 0px;
    }
}

.Landing .text p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    color: #363636;
}

@media (max-width: 991px) {
    .Landing .text p {
        font-size: 17px;
    }
}

.Landing .image img {
    position: relative;
    width: 300px;
    animation: up-and-down 2s linear infinite;
}

@media (max-width: 991px) {
    .Landing .image {
        display: none;
    }
}

/* End Landing */



/* Start Reviews */

.Reviews {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    transition: var(--main-transition);
}

.Reviews .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 20px;
}
.Reviews .container .image {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%);
    -webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%);
    -moz-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%);
    transition: var(--main-transition);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.Reviews .container .image:hover {
    transform: scale(1.05);
}
.Reviews .container .image::before {
    content: "";
    position: absolute;
    background-color: var(--main-color-alt);
    width: 0;
    height: 0;
    left: 0;
    top: 100%;
    transform: translate(-50%, -100%);
    transition: 1s;
    
}
.Reviews .container .image:hover:before {
    width: 100%;
    height: 100%;
    transition: 1s;
    background-image: url(../imgs/Logo.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: 82%;
    background-position-Y: 50%;
}
.Reviews .container .image::after {
    content: "";
    position: absolute;
    background-color: var(--main-color-alt);
    width: 0;
    height: 0;
    right: 0;
    top: -50%;
    transform: translate(50%, 50%);
    transition: 1s;
    z-index: -1;
}
.Reviews .container .image:hover:after {
    width: 100%;
    height: 100%;
    transition: 1s;
}
.Reviews .container .image img {
    min-width: 100%;
    width: 100%;
}
/* End Reviews */


/* Start About-Us */
.main-title-About-Us {
    border: 2px solid #000;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    font-size: 30px;
    position: relative;
}
.main-title-About-Us::after {
    content: "";
    width: 12px;
    height: 12px;
    right: -25px;
    background-color: var(--main-color-alt);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title-About-Us::before {
    content: "";
    width: 12px;
    height: 12px;
    left: -25px;
    background-color: var(--main-color-alt);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.About-Us {
    padding: 50px 0px;
    position: relative;
    background-image: url(../imgs/bcAboutUs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--main-transition);
}
.About-Us:hover {
transform: scale(1.02);
}
@media (max-width: 991px) {
    .About-Us {
        background-position-x: 70%;
    }
}
.About-Us::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.About-Us .container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.About-Us .content {
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
}
/* End About-Us */



/* Start Contact-Us */
.main-title-alt {
    border: 2px solid #fff;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    margin: auto;
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
}
.main-title-alt::before {
    content: "";
    width: 12px;
    height: 12px;
    left: -25px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title-alt::after {
    content: "";
    width: 12px;
    height: 12px;
    right: -25px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.Contact-Us {
    background-color: var(--main-color);
    color: #fff;
    padding-top: 100px;
    padding-bottom: 10px;
}
.Contact-Us .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 50px

}

.maps iframe {
    width: 400px;
    height: 350px;
    border: 5px solid #fff;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--main-color-alt);
}

.content {
    flex: 1;
}

.details {
    padding-left:30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    /* border: 2px solid white; */
    position: relative;
}
.details i {
    margin-right: 30px;
}
.details h4 {
    margin-bottom: 5px;
}
.content .top {
    margin-top: 0px;
    margin-bottom: 30px;
}
.Contact-Us .footer {
    text-align: center;
    font-size: 20px;
    border-top: 1px solid #fff;
    margin-top: 50px;
}
.Contact-Us .social {
    display: flex;
}
.Contact-Us .social li {
    margin-right: 10px;
}
.Contact-Us .social li a {
    background-color: #ffffff;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
    border-radius: 10px;
}
.Contact-Us .bottom {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.Contact-Us .fa-whatsapp , .Contact-Us .fa-instagram {
    font-size: 30px;
}
.Contact-Us .facebook:hover {
    background-color: #1877F2;
    color: #fff;
}
.Contact-Us .whatsapp:hover {
    background-color: #4dc247;
    color: #fff;
}
.Contact-Us .instagram:hover {
    background-color: #e95950;
    color: #fff;
}
@media (max-width: 991px) {
    .Contact-Us .container {
        flex-direction: column;
    }
    .Contact-Us .content {
        margin-left: 0px !important;
    }
    .content .top {
        text-align: center;
    }
    .maps iframe {
        width: 300px;
    }
}
/* End Contact-Us */



/* Start Animation */

@keyframes up-and-down {
    0%, 100% {
        top: 0px;
    }
    50% {
        top: -25px;
    }
    
}


/* End Animation */